/*COLORES*/
/*FUENTE*/
/*Animacion*/
@keyframes animacion_politica {
  0% {
    background-color: #ffffff;
  }
  25% {
    background-color: rgba(208, 74, 37, 0.231372549);
  }
  50% {
    background-color: #ffffff;
  }
  75% {
    background-color: rgba(208, 74, 37, 0.231372549);
  }
  100% {
    background-color: #ffffff;
  }
}
/*CARTEL*/
.cartel, #main_contacto #section_formulario, #main_calidad .cartel_politica_calidad {
  border-radius: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px;
  border: double 10px #D04925;
  box-shadow: 0 0 50px #D04925;
}

header {
  background-color: #000000;
}
header nav div .logopantallas {
  width: 300px;
  height: auto;
}
header nav div div ul li a {
  font-family: "Arial", sans-serif;
}
header nav div div ul li a:hover {
  background-color: coral;
  border-radius: 10px;
}

@media (min-width: 380px) and (max-width: 420px) {
  header nav div .logopantallas {
    width: 170px;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-image: linear-gradient(to bottom, #D04925, rgba(0, 0, 0, 0.662745098));
}
footer section div ul {
  display: flex;
  justify-content: space-around;
  margin: 30px;
  list-style: none;
}
footer section div ul li {
  color: #000000;
  list-style: none;
  font-size: 150%;
  font-family: "Arial", sans-serif;
}

@media (min-width: 380px) and (max-width: 420px) {
  footer {
    height: 50px;
  }
  footer section div ul {
    display: flex;
    flex-direction: column;
  }
  footer section div ul li {
    display: flex;
    justify-content: center;
    font-size: 75%;
  }
}
/*TITULO*/
#main_inicio .titulomain {
  color: #000000;
  font-family: "Arial", sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}
#main_inicio div {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 400px 0 400px;
  font-family: "Arial", sans-serif;
  font-size: 200%;
  color: #000000;
}
#main_inicio section div {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 400px 0 400px;
  font-family: "Arial", sans-serif;
  font-size: 200%;
  color: #000000;
}
#main_inicio section div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#main_inicio section div img {
  margin: 10px;
  width: 700px;
  height: auto;
}

@media (min-width: 380px) and (max-width: 420px) {
  #main_inicio .titulomain {
    font-size: 150%;
    margin-top: 40px;
  }
  #main_inicio div {
    display: flex;
    justify-content: center;
    font-size: 100%;
    margin: 20px;
  }
  #main_inicio section div {
    display: flex;
    justify-content: center;
    font-size: 100%;
    margin: 20px;
  }
  #main_inicio section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #main_inicio section div img {
    width: 300px;
  }
}
#main_calidad {
  /*NORMAS*/
  /*MATERIALES*/
  /*IMAGENES*/
  /*POLITICA DE CALIDAD*/
}
#main_calidad section #t_laboratorio {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 350%;
  color: #000000;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}
#main_calidad section div .tex_laboratorio {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
  font-size: 125%;
  font-weight: bold;
  color: #000000;
  border-radius: 25px;
  padding: 20px;
  border: solid 2px;
}
#main_calidad section .bloquenorma .norma_seguridad {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 150%;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  background-color: #992E24;
  border-radius: 5px;
  padding: 10px;
  margin: 0;
}
#main_calidad section .bloquenorma .tex_norma {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 150%;
  font-family: "Arial", sans-serif;
  background-color: #D04925;
  margin: 0;
  padding: 5px;
}
#main_calidad .tex_materiales {
  font-family: "Arial", sans-serif;
  color: #000000;
  font-size: 150%;
  font-weight: bold;
}
#main_calidad .div_imagenescalidad {
  display: flex;
  justify-content: center;
}
#main_calidad .div_imagenescalidad .imagenes_calidad {
  width: 450px;
}
#main_calidad .cartel_politica_calidad {
  animation-name: animacion_politica;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 10s;
}
#main_calidad .cartel_politica_calidad .t_politica_calidad {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-family: "Arial", sans-serif;
  font-size: 300%;
  font-weight: bold;
}
#main_calidad .cartel_politica_calidad .tex_politica_calidad {
  color: #000000;
  font-family: "Arial", sans-serif;
  font-size: 150%;
  padding: 0 100px 0 100px;
  font-weight: bold;
}

@media (min-width: 380px) and (max-width: 420px) {
  #main_calidad {
    /*NORMAS MOVIL*/
    /*MATERIALES MOVIL*/
    /*POLITICA DE CALIDAD MOVIL*/
  }
  #main_calidad section #t_laboratorio {
    font-size: 175%;
    text-align: center;
  }
  #main_calidad section div .tex_laboratorio {
    font-size: 100%;
  }
  #main_calidad section .bloquenorma .norma_seguridad {
    font-size: 125%;
  }
  #main_calidad section .bloquenorma .tex_norma {
    font-size: 150%;
  }
  #main_calidad .tex_materiales {
    font-size: 110%;
  }
  #main_calidad .cartel_politica_calidad {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
  }
  #main_calidad .cartel_politica_calidad .t_politica_calidad {
    text-align: center;
    font-size: 150%;
  }
  #main_calidad .cartel_politica_calidad .tex_politica_calidad {
    font-size: 100%;
    padding: 5px 5px 5px 5px;
  }
}
#main_catalogo {
  /*PRESENTACION CATALOGO*/
  /*PRODUCTOS A LA VENTA*/
}
#main_catalogo div .titulocat {
  color: #000000;
  font-family: "Arial", sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  margin: 10px;
}
#main_catalogo div .textocat {
  padding: 0 500px 0 500px;
  color: #000000;
  font-size: 30px;
  font-family: "Arial", sans-serif;
  text-align: center;
}
#main_catalogo #containergrid {
  /*empiezo a aplicar grid*/
  display: grid;
  grid-template-areas: ". np1 ." "im1 d1 ." ". np2 ." ". d2 im2" ". np3 ." "im3 d3 ." ". np4 ." ". d4 im4";
  grid-template-rows: 50px 250px 50px 250px 50px 250px 50px 250px;
  grid-template-columns: 300px 1250px 300px;
  align-content: center;
  justify-content: center;
  text-align: center;
  /*nombre de las areas*/
  /*PRODUCTO*/
}
#main_catalogo #containergrid #np1 {
  grid-area: np1;
}
#main_catalogo #containergrid #im1 {
  grid-area: im1;
}
#main_catalogo #containergrid #d1 {
  grid-area: d1;
}
#main_catalogo #containergrid #np2 {
  grid-area: np2;
}
#main_catalogo #containergrid #im2 {
  grid-area: im2;
}
#main_catalogo #containergrid #d2 {
  grid-area: d2;
}
#main_catalogo #containergrid #np3 {
  grid-area: np3;
}
#main_catalogo #containergrid #im3 {
  grid-area: im3;
}
#main_catalogo #containergrid #d3 {
  grid-area: d3;
}
#main_catalogo #containergrid #np4 {
  grid-area: np4;
}
#main_catalogo #containergrid #im4 {
  grid-area: im4;
}
#main_catalogo #containergrid #d4 {
  grid-area: d4;
}
#main_catalogo #containergrid .nombreproducto {
  background-color: #D04925;
  padding: 0 300px 0 300px;
  border-radius: 30px;
  color: #000000;
  font-size: 200%;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}
#main_catalogo #containergrid .imgproduc {
  justify-self: center;
  align-self: center;
  border-radius: 45px;
  border: 5px double rgb(255, 150, 30);
}
#main_catalogo #containergrid .imgproduc:hover {
  transform: scale(1.2);
}
#main_catalogo #containergrid .textoproducto {
  padding: 0 300px 0 300px;
  color: #000000;
  font-size: 25px;
  font-family: "Arial", sans-serif;
  justify-self: center;
  align-self: center;
  padding: 0;
}

@media (min-width: 380px) and (max-width: 420px) {
  #main_catalogo {
    /*presentacion catalogo movil*/
    /*grid movil*/
  }
  #main_catalogo div .titulocat {
    display: flex;
    justify-content: center;
    font-size: 200%;
    font-weight: bold;
  }
  #main_catalogo div .textocat {
    display: flex;
    justify-content: center;
    font-size: 100%;
    padding: 0;
  }
  #main_catalogo #containergrid {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  #main_catalogo #containergrid .nombreproducto {
    padding: 0;
    font-size: 150%;
  }
  #main_catalogo #containergrid .textoproducto {
    padding: 10px;
    font-size: 100%;
  }
  #main_catalogo #containergrid .imgproduc:hover {
    transform: none;
  }
}
#main_personalizacion section .titulo_main_perso {
  color: #000000;
  font-family: "Arial", sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  margin: 20px;
}
#main_personalizacion section .texto_perso {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 400px 0 400px;
  font-family: "Arial", sans-serif;
  font-size: 150%;
  color: #000000;
}
#main_personalizacion section .div_imagenes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#main_personalizacion section .div_imagenes .imgperso {
  width: 600px;
}
#main_personalizacion section article .titulo_main_perso2 {
  color: #000000;
  font-family: "Arial", sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  margin: 20px;
}
#main_personalizacion section article .texto_perso2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 400px 0 400px;
  font-family: "Arial", sans-serif;
  font-size: 150%;
  color: #000000;
}
#main_personalizacion section .div_imagenes2 {
  display: flex;
  justify-content: space-around;
}
#main_personalizacion section .div_imagenes2 .imgperso2 {
  width: 600px;
}

@media (min-width: 380px) and (max-width: 420px) {
  #main_personalizacion section .titulo_main_perso {
    font-size: 155%;
    margin: 20px;
  }
  #main_personalizacion section .texto_perso {
    margin: 0 30px 0 30px;
    font-size: 100%;
  }
  #main_personalizacion section .div_imagenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  #main_personalizacion section .div_imagenes .imgperso {
    width: 300px;
  }
  #main_personalizacion section article .titulo_main_perso2 {
    font-size: 155%;
    margin: 20px;
  }
  #main_personalizacion section article .texto_perso2 {
    margin: 0 30px 0 30px;
    font-size: 100%;
  }
  #main_personalizacion section .div_imagenes2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  #main_personalizacion section .div_imagenes2 .imgperso2 {
    width: 300px;
  }
}
#main_contacto .contactenos {
  color: #000000;
  font-family: "Arial", sans-serif;
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}
#main_contacto #section_formulario #formulario .div_casilla_contacto .titulo_de_llenado {
  color: #000000;
  font-family: "Arial", sans-serif;
  font-size: 75%;
  font-weight: bold;
}
#main_contacto #section_formulario #formulario .div_boton {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main_contacto #section_formulario #formulario .div_boton #booton {
  background-color: coral;
  color: #000000;
  margin-top: 30px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}
#main_contacto #section_formulario #formulario .div_boton #booton:hover {
  transform: scale(1.5);
  rotate: 10deg;
}

@media (min-width: 380px) and (max-width: 420px) {
  #main_contacto .contactenos {
    font-size: 200%;
  }
  #main_contacto #section_formulario #formulario .div_casilla_contacto .titulo_de_llenado {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50%;
  }
}
body {
  background-color: #E9E5DD;
}

/*# sourceMappingURL=estilos.css.map */
