#main_calidad {
    
    section {
        #t_laboratorio {
            @include flex(flex, center, center);
            font-size: 350%;
            color: map-get($coloresfondos, letras);
            font-family: $fuente;
            font-weight: bold;
        }
        div {
            .tex_laboratorio {
                @include flex(flex, center, center);
                font-family: $fuente;
                font-size: 125%;
                font-weight: bold;
                color: map-get($coloresfondos, letras);
                border-radius: 25px;
                padding: 20px;
                border: solid 2px ;
            }
        }
    }
/*NORMAS*/
    section {
        .bloquenorma {
            .norma_seguridad {
                @include flex(flex, center, center);
                color: map-get($coloresfondos, letras);
                font-size: 150%;
                font-family: $fuente;
                font-weight: bold;
                background-color: #992E24;
                border-radius: 5px;
                padding: 10px;
                margin: 0;
            }
            .tex_norma {
                @include flex(flex, center, center);
                color: map-get($coloresfondos, letras);
                font-size: 150%;
                font-family: $fuente;
                background-color: #D04925;
                margin: 0;
                padding: 5px;
            }
        }
    }
/*MATERIALES*/
    .tex_materiales {
        @include flex(flex, center, center);
        font-family: $fuente;
        color: map-get($coloresfondos, letras);
        font-size: 150%;
        font-weight: bold;
    }
/*IMAGENES*/
    .div_imagenescalidad {
        display: flex;
        justify-content: center;
        .imagenes_calidad {
            width: 450px;
        }
    }
/*POLITICA DE CALIDAD*/
    .cartel_politica_calidad {
        @extend .cartel; 
        animation-name: animacion_politica;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 10s;
        .t_politica_calidad {
            @include flex(flex, center, center);
            color: map-get($coloresfondos, letras);
            font-family: $fuente;
            font-size: 300%;
            font-weight: bold;
        }
        .tex_politica_calidad {
            color: map-get($coloresfondos, letras);
            font-family: $fuente;
            font-size: 150%;
            padding: 0 100px 0 100px;
            font-weight: bold;
        }
    }
}


@media (min-width: 380px) and (max-width: 420px) {
    #main_calidad {
        section {
            #t_laboratorio {
                font-size: 175%;
                text-align: center;
            }
            div {
                .tex_laboratorio {
                    font-size: 100%;
                }
            }
        }
/*NORMAS MOVIL*/
        section {
            .bloquenorma {
                .norma_seguridad {
                    font-size: 125%;
                }
                .tex_norma {
                    font-size: 150%;
                }
            }
        }
/*MATERIALES MOVIL*/
        .tex_materiales {
            font-size: 110%;
        }
/*POLITICA DE CALIDAD MOVIL*/
        .cartel_politica_calidad {
            margin-top: 25px;
            margin-bottom: 25px;
            padding: 25px;
            .t_politica_calidad {
                text-align: center;
                font-size: 150%;
            }
            .tex_politica_calidad {
                font-size: 100%;
                padding: 5px 5px 5px 5px;
            }
        }
    }
}