#main_contacto {
    .contactenos {
        color: $color_letras;
        font-family: $fuente;
        font-size: 45px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 50px;
    }
    #section_formulario {
        background-color: #d04a253b;
        border: double 10px #D04925;
        box-shadow: 0 0 50px #D04925;
        padding: 50px;
        border-radius: 50px;
        #formulario {
            .div_casilla_contacto {
                .titulo_de_llenado {
                    color: $color_letras;
                    font-family: $fuente;
                    font-size: 200%;
                    font-weight: bold;
                }
            }
            #booton {
                display: flex;
                background-color: coral;
                color: $color_letras;
                margin-top: 30px;
                font-family: $fuente;
                font-weight: bold;
                &:hover {
                    transform: scale(1.5);
                }
            }
        }
    }
}
