#main_contacto {
    .contactenos {
        color: map-get($coloresfondos, letras);
        font-family: $fuente;
        font-size: 45px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 50px;
    }
    #section_formulario {
        @extend .cartel;
        #formulario {
            .div_casilla_contacto {
                .titulo_de_llenado {
                    color: map-get($coloresfondos, letras);
                    font-family: $fuente;
                    font-size: 200%;
                    font-weight: bold;
                }
            }
            .div_boton {
                @include flex(flex, center, center);
                #booton {
                    background-color: coral;
                    color: map-get($coloresfondos, letras);
                    margin-top: 30px;
                    font-family: $fuente;
                    font-weight: bold;
                    &:hover {
                        transform: scale(1.5);
                    }
                }
            }
        }
    }
}
@media (min-width: 380px) and (max-width: 420px) {
    #main_contacto {
        .contactenos {
            font-size: 200%;
        }
        #section_formulario {
            #formulario {
                .div_casilla_contacto {
                    .titulo_de_llenado {
                        @include flex(flex, center ,center);
                        font-size: 100%;
                    }
                }
            }
        }
    }
}
