footer {
    @include flex(flex, center, center);
    height: 100px;
    background-image: linear-gradient(to bottom, #D04925, #000000a9);
    section {
        div{
            ul {
                display: flex;
                justify-content: space-around;
                margin: 30px;
                list-style: none;
                li {
                    color: map-get($coloresfondos, letras);
                    list-style: none;
                    font-size: 150%;
                    font-family: $fuente;
                }
            }
        }
    }
}

@media (min-width: 380px) and (max-width: 420px) {
    footer {
        height: 50px;
        section {
            div {
                ul {
                    display: flex;
                    flex-direction: column;
                    li{
                        display: flex;
                        justify-content: center;
                        font-size: 75%;
                    }
                }
            }
        }
    }
}
@media (min-width: 420px) and (max-width: 600px) {
    footer {
        height:75px;
        section {
            div {
                ul {
                    display: flex;
                    flex-direction: column;
                    li{
                        display: flex;
                        justify-content: center;
                        font-size: 100%;
                    }
                }
            }
        }
    }
}
