footer {
    background-color: map-get($coloresfondos, footer);
    section {
        div{
            ul {
                display: flex;
                justify-content: space-around;
                margin: 30px;
                list-style: none;
                li {
                    color: map-get($coloresfondos, letras);
                    list-style: none;
                    font-size: 150%;
                    font-family: $fuente;
                }
            }
        }
    }
}

@media (min-width: 380px) and (max-width: 420px) {
    footer {
        section {
            div {
                ul {
                    display: flex;
                    flex-direction: column;
                    li{
                        display: flex;
                        justify-content: center;
                        font-size: 75%;
                    }
                }
            }
        }
    }
}
