header {
    background-color: $color_header;
    nav {
        div{
            .logopantallas {
                width: 300px;
                height: auto;
            }
            div {
                ul {
                    li {
                        a {
                            font-family: $fuente;
                            &:hover {
                                background-color: coral;
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 380px) and (max-width: 420px) {
    header{
        nav{
            div{
                .logopantallas {
                    width: 170px;
                }
            }
        }
    }
}