/*COLORES*/
$coloresfondos: (
    header: #000000,
    footer: #D04925,
    letras: #000000,
);

/*FUENTE*/
$fuente: 'Arial', sans-serif;

/*Animacion*/
@keyframes animacion_politica {
    0%{background-color: #ffffff;}
    25%{background-color: #d04a253b;}
    50%{background-color: #ffffff;}
    75%{background-color: #d04a253b;}
    100%{background-color: #ffffff;}
}




@mixin flex($display, $ejeX, $ejeY) {
    display: $display;
    justify-content: $ejeX;
    align-items: $ejeY;
}

/*CARTEL*/
.cartel {
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    border: double 10px #D04925;
    box-shadow: 0 0 50px #D04925;
}
